* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter";
}

/* General styles */
.container {
  max-width: 1184px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 32px 0px;
}

.logo a {
  width: 142px;
  /* border: none; */
}

.nav ul {
  display: flex;
  align-items: center;
  gap: 64px;
  list-style: none;
}
.nav ul a {
  color: var(--grey-scale-black-50, rgba(25, 24, 37, 0.5));
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 16.8px */

  text-decoration: none;
  transition: all 0.5s;
}

.nav ul a:hover {
  color: #222831;
}

.sign a {
  color: rgba(25, 24, 37, 0.5);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 16.8px */

  text-decoration: none;
  transition: all 0.5s;
  padding-right: 32px;
}

.sign a:hover {
  color: #222831;
}

.sign button {
  color: #eee;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 16.8px */

  padding: 16px 32px;
  border-radius: 100px;
  background: #5d50c6;
  border: 1px solid #5d50c6;
  transition: all 0.5s;
}

.sign button:hover {
  background: transparent;
  color: #222831;
  border: 1px solid #222831;
}

.solid {
  display: none;
}

@media screen and (max-width: 1024px) {
  .container {
    width: 896px;
    margin-left: auto;
    margin-right: auto;
  }

  .solid {
    display: block;
    margin-right: auto;
  }
  .nav {
    display: none;
  }
  .logo {
    margin-right: 243px;
  }
}

@media screen and (max-width: 430px) {
  .container {
    width: 398px;
    margin-left: auto;
    margin-right: auto;
  }
  .solid {
    display: block;
    margin-left: 210px;
  }
  .header__container {
    flex-direction: row-reverse;
    display: flex;
  }
  .nav {
    display: none;
  }
  .logo {
    margin-right: auto;
  }
  .sign {
    display: none;
  }
}

/* Hero styles */
.hero__container {
  display: flex;
  align-items: center;
  background-size: 772px 713px;
  padding-top: 64px;
}

.hero__text .explore {
  display: flex;
  align-items: center;
  padding: 16px 32px;
  gap: 16px;
  width: 230px;
  margin-bottom: 43px;

  border-radius: 100px;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.07),
    0px 34px 75px 0px rgba(0, 0, 0, 0.07),
    0px 137px 137px 0px rgba(0, 0, 0, 0.06),
    0px 308px 185px 0px rgba(0, 0, 0, 0.04),
    0px 548px 219px 0px rgba(0, 0, 0, 0.01),
    0px 856px 240px 0px rgba(0, 0, 0, 0);

  transition: all 0.5s;
}

.hero__text .explore:hover {
  background: #f9e4fe;
}

.explore a {
  color: #f85e9f;
  align-content: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 16.8px */

  text-decoration: none;
}

.hero__text {
  width: 412px;
}

.hero__text h3 {
  color: #000;
  font-size: 69px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 82.8px */
  margin-bottom: 43px;
}

.hero__text h3 span {
  color: var(--Secondary, #f85e9f);
  font-size: 69px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}

.hero__text p {
  color: var(--grey-scale-black-50, rgba(25, 24, 37, 0.5));

  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 28.8px */
  margin-bottom: 43px;
}

.hero__button {
  display: flex;
  gap: 16px;
}

.hero__text button:first-child {
  color: var(--Light, #eee);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 16.8px */

  display: flex;
  padding: 16px 32px;
  align-items: center;
  gap: 8px;
  border: none;

  border-radius: 100px;
  background: var(--Primary, #5d50c6);
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.1),
    0px 5px 11px 0px rgba(0, 0, 0, 0.1), 0px 20px 20px 0px rgba(0, 0, 0, 0.09),
    0px 45px 27px 0px rgba(0, 0, 0, 0.05), 0px 81px 32px 0px rgba(0, 0, 0, 0.01),
    0px 126px 35px 0px rgba(0, 0, 0, 0);
  transition: all 0.5s;
  cursor: pointer;
}

.hero__text button:first-child:hover {
  background-color: transparent;
  color: #000;
}

.hero__text button:last-child {
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 16.8px */

  display: flex;
  padding: 16px 32px;
  align-items: center;
  gap: 8px;
  border: none;

  border-radius: 100px;
  background: #ffffff;

  transition: all 0.5s;
  cursor: pointer;
}

.hero__text button:last-child:hover {
  background-color: #afaad1;
  color: #fff;
}

/* Media screen */
@media screen and (max-width: 1024px) {
  .container {
    width: 896px;
  }

  .hero__container {
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
  }

  .explore {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
  }

  .hero__text h3,
  p {
    width: 896px;
    margin-left: -250px;
    text-align: center;
    display: inline-block;
  }
  .hero__button {
    margin-left: 35px;
  }
}

@media screen and (max-width: 430px) {
  .container {
    width: 398px;
  }

  .hero__container {
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
  }

  .hero__container .girl__card {
    width: 398px;
  }

  .explore {
    width: 224px;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
  }

  .hero__text h3 {
    width: 398px;
    text-align: center;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    font-size: 40px;
  }

  .hero__text h3 span {
    font-size: 40px;
  }

  .hero__text p {
    width: 398px;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
  }

  .hero__button {
    flex-direction: column;
  }
  .hero__button button:first-child {
    padding-left: 170px;
  }

  .hero__button button:last-child {
    padding-left: 150px;
    border: 1px solid #eee;
  }
}

/* Company styles */
.company__container {
  padding: 64px 0px;
}

.company__container ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}

@media screen and (max-width: 1024px) {
  .container {
    width: 896px;
  }

  .company__container ul {
    flex-wrap: wrap;
    padding-left: 163px;
    padding-right: 163px;
    justify-content: center;
    gap: 27px;
  }
}

@media screen and (max-width: 430px) {
  .container {
    width: 398px;
  }

  .company__container ul {
    flex-direction: row;
  }
}

/* Services style */
.services__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 64px 0px;
}

.services__text h5 {
  color: var(--Secondary, #f85e9f);
  font-size: 23px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 27.6px */
  letter-spacing: 4.6px;
  text-transform: uppercase;
}
.services__text h3 {
  color: var(--grey-scale-black, #191825);
  margin-top: 16px;
  font-size: 44px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 52.8px */
  width: 444px;
}
.services__card__main{
  display: flex;
  gap: 21px;
}

.services__card {
  display: flex;
  max-width: 350px;
  width: 100%;
  padding: 64px;
  flex-direction: column;
  align-items: center;
  gap: 64px;
  flex: 1 0 0;

  border-radius: 32px;
  background: #fff;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.1),
    0px 41px 89px 0px rgba(0, 0, 0, 0.1);
}

.services__card h4 {
  color: var(--grey-scale-black, #191825);
  text-align: center;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 33.6px */
}

.services__card p {
  color: var(--grey-scale-black-50, rgba(25, 24, 37, 0.5));
  text-align: center;

  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 28.8px */
}

@media screen and (max-width: 1024px) {
  .container {
    width: 896px;
  }

  .services__container {
    flex-direction: column;
  }
  .services__text{
    width: 896px;
    text-align: center;
  }
  .services__text h3{
    width: 896px;
    margin-bottom: 64px;
  }
  .services__card__main{
    display: flex;
    align-items: center;
    gap: 20px;

  }

.services__card h4{
width: 160px;
}

  .services__card p{
width: 160px;
align-items: center;
display: inline-block;
margin-right: -250px;
  }
}

@media screen and (max-width: 430px) {
  .container {
    width: 398px;
  }

  .services__text h3 {
    font-size: 32px;
    font-weight: 700;
line-height: 120%;
    width: 398px;
    margin-left: 250px;
  }
  .services__card__main{
    flex-direction: column;
  }
  .services__card{
    width: 398px;
    padding: 64px;
  }
  .services__card h4{
    width: 334px;
    margin-bottom: -32px;
  }
  .services__card p{
    width: 330px;
  }
}

/* Destination styles */
.destination__top {
  display: flex;
  justify-content: space-between;
  padding-top: 64px;
}

.destination__top__text h4 {
  color: var(--Secondary, #f85e9f);
  font-size: 23px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 27.6px */
  letter-spacing: 4.6px;
  text-transform: uppercase;
}

.destination__top__text h2 {
  color: var(--grey-scale-black, #191825);
  font-size: 44px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 52.8px */
}

.destination__top__img img {
  width: 232px;
  height: 150px;
}

.destination__main__card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 64px;
}

.destination__card__text {
  display: flex;
  padding: 32px;
  width: 373px;
  flex-direction: column;
  align-items: flex-start;

  align-self: stretch;
  border-radius: 0px 0px 32px 32px;
  background: #fff;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.05),
    0px 32px 71px 0px rgba(0, 0, 0, 0.05),
    0px 128px 128px 0px rgba(0, 0, 0, 0.04),
    0px 288px 173px 0px rgba(0, 0, 0, 0.03),
    0px 513px 205px 0px rgba(0, 0, 0, 0.01),
    0px 801px 224px 0px rgba(0, 0, 0, 0);
}

.destination__card__name {
  display: flex;
  justify-content: space-between;
}

.destination__card__name h3 {
  color: var(--grey-scale-black, #191825);

  font-size: 23px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 27.6px */
  margin-bottom: 16px;
}

.destination__card__name h2 {
  color: var(--Secondary, #f85e9f);

  font-size: 23px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 27.6px */
}

div.star {
  color: var(--Orange, #ff5722);

  font-size: 23px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 27.6px */
  gap: 8px;
  display: flex;
  align-items: center;
  margin-top: 32px;
}


@media screen and (max-width: 1024px) {
  .container {
    width: 896px;
  }

  .destination__top {
    flex-direction: column;
    text-align: center;
  }
  .destination__top h2 {
    margin-bottom: 64px;
    margin-top: 16px;
  }
  .destination__card{
    width: 278px;
    
  }
}

@media screen and (max-width: 430px) {
  .container {
    width: 398px;
  }

  .services__text h3 {
    font-size: 32px;
    font-weight: 700;
line-height: 120%;
    width: 398px;
    margin-left: 250px;
  }
  .services__card__main{
    flex-direction: column;
  }
  .services__card{
    width: 398px;
    padding: 64px;
  }
  .services__card h4{
    width: 334px;
    margin-bottom: -32px;
  }
  .services__card p{
    width: 330px;
  }
}



/* Travel style */

.container_big {
  max-width: 1312px;
  width: 100%;
  margin-right: auto;
  padding: 64px 0px;
}

.travel__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.travel__text h4 {
  color: var(--Secondary, #f85e9f);
  font-size: 23px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 27.6px */
  letter-spacing: 4.6px;
  text-transform: uppercase;

  margin-bottom: 16px;
}

.travel__text h2 {
  color: var(--grey-scale-black, #191825);

  font-size: 44px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 52.8px */

  margin-bottom: 32px;
}

.travel__text span {
  color: var(--grey-scale-black-50, rgba(25, 24, 37, 0.5));

  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 28.8px */
  display: inline-block;
  margin-bottom: 64px;
}

.card__travel {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}

.travel__card {
  display: flex;
  padding: 32px;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  flex: 1 0 0;
  border-radius: 32px;
  border:grey-scale-black-10, rgba(25, 24, 37, 0.1));
  background: var(--white, #fff);

  width: 204.5px;
}

.travel__card h5 {
  color: var(--Orange, #ff5722);

  font-size: 35px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 42px */
}
.travel__card p {
  color: var(--grey-scale-black, #191825);
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 28.8px */

  width: 144px;
}

/* Features styles */

.container__big {
  max-width: 1312px;
  width: 100%;
  margin-left: auto;
  padding: 64px 0px;
}

.features__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.features__text h4 {
  color: var(--Secondary, #f85e9f);
  font-size: 23px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 27.6px */
  letter-spacing: 4.6px;
  text-transform: uppercase;

  margin-bottom: 16px;
}
.features__text h2 {
  color: var(--grey-scale-black, #191825);

  font-size: 44px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 52.8px */

  margin-bottom: 32px;
}

.features__text span {
  color: var(--grey-scale-black-50, rgba(25, 24, 37, 0.5));

  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 28.8px */

  display: inline-block;
  width: 549px;

  margin-bottom: 64px;
}

.features__card {
  padding: 32px;
  align-self: stretch;

  border-radius: 32px;
  background: var(--white, #fff);

  display: flex;
  align-items: center;
  gap: 32px;
}

.features__card__text h6 {
  color: var(--grey-scale-black, #191825);

  font-size: 23px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 27.6px */

  margin-bottom: 8px;
}

.features__card__text p {
  color: var(--grey-scale-black-50, rgba(25, 24, 37, 0.5));

  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 28.8px */
}

/* Testimonials styles  */

.testimonials {
  background: url(../img/background__testimonial.svg);
  background-repeat: no-repeat;

  background-size: cover;
  background-position: 0px -200px;
}

.testimonials__container {
  text-align: center;
}

.testimonials__main h5 {
  color: var(--Secondary, #f85e9f);
  font-size: 23px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 27.6px */
  letter-spacing: 4.6px;
  text-transform: uppercase;
  margin-bottom: 16px;
}

.testimonials__main h3 {
  color: var(--grey-scale-black, #191825);
  font-size: 44px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 52.8px */

  margin-bottom: 56px;
}

.testimonials__main h4 {
  color: var(--Orange, #ff5722);
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 33.6px */

  margin-top: 56px;
  margin-bottom: 32px;
}

.testimonials__main h4 span {
  color: var(--grey-scale-black-75, rgba(25, 24, 37, 0.75));
  font-size: 23px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}

.testimonials__main p {
  color: var(--grey-scale-black-75, rgba(25, 24, 37, 0.75));
  font-size: 23px;
  font-style: normal;
  font-weight: 450;
  line-height: 160%; /* 36.8px */

  margin: 56px 0px;
}
